/*테두리*/
.myfilebox {
	border: solid 2px #d2d2d2;
	overflow: hidden;
	margin-bottom: 20px;
}

/*좌측메뉴*/
.mflefttree {
	width: 250px;
	border-right: solid 3px #dbdbdb;
	min-height: 600px;
	float: left;
	padding: 23px 10px 10px 10px;
}

.mflefttree span {
	font-size: 15px;
	color: #666;
}

.mflefttree .bold {
	font-size: 15px;
	color: #000;
	font-weight: 600;
}

/*우측컨텐츠*/
.rightcontent {
	width: 890px;
	float: right;
	padding: 25px;
}

/*popup*/
.mfpopup01 {
	margin: 0 auto;
	overflow: hidden;
	width: 570px;
	margin-bottom: 30px;
}

.mfpd {
	padding-top: 27px;
}

.mfp01 {
	width: 150px;
	float: left;
}

.mfp02 {
	font-size: 15px;
	color: #555;
	width: 150px;
	float: left;
	padding-left: 20px;
	padding-top: 4px;
}

.mfp03 {
	width: 150px;
	float: right;
}

.mfpbtnbox {
	text-align: center;
	padding: 30px 0;
}

.edison .tablemf_list {
	line-height: 1.3em;
	width: 100%;
	border-top: 2px solid #6a8ec6;
	border-collapse: collapse;
	font-size: 15px;
}

.edison .borderno {
	border-top: 0px solid #6a8ec6;
}

.edison .tablemf_list a {
	text-decoration: none;
}

.edison .tablemf_list a:hover {
	color: #000;
	text-decoration: none;
}

.edison .tablemf_list caption {
	text-align: right;
	padding-right: 15px;
	color: #777;
	width: 100%;
	padding-bottom: 5px;
}

.edison .tablemf_list th {
	line-height: 2.0em;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid #ccc;
	padding: 4px;
	color: #000;
	font-weight: 500;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 15px;
}

.edison .tablemf_list td.bottom {
	border-bottom: 1px solid #9397AE;
}

.edison .tablemf_list td {
	border: 1px solid #e1e1e1;
	color: #000;
	font-weight: 500;
	padding: 7px;
	vertical-align: middle;
}

.edison .tablemf_list td img {
	vertical-align: middle;
}

.edison .tablemf_list td.view {
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 250px;
}

.edison .tablemf_list td.name {
	color: #2184aa;
}

.bgcolor {
	background-color: #fcfcfc;
}

.edison .button08_1 {
	padding: 4px 10px 5px 10px;
	height: 34px;
	background: #606060;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #6a6a6b;
	min-width: 90px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

.edison .button08_2 {
	padding: 5px 10px 5px 10px;
	height: 33px;
	background: #606060;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 0px #6a6a6b;
	/*text-shadow: 1px 0px 0px #999;*/
	min-width: 90px;
	padding-left: 37px;
	background: url(../images/myfile/myfile-icon06.png) no-repeat 10px 6px;
	background-color: #bac41c;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.edison .button02_1 {
	padding: 6px 20px 6px 20px;
	height: 36px;
	background: #0d7ad0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #1482d0;
	min-width: 150px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-shadow: 1px 1px 0px #666;
}

.edison .button02_1 a:hover {
	color: #fffcf4;
	text-shadow: 1px 1px 0px #516172;
}

.edison .button04_1 {
	padding: 4px 20px 5px 20px;
	height: 34px;
	background: #84b3d3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #7a99af;
	min-width: 50px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-shadow: 1px 1px 0px #567c98;
}

.edison .button04_1 a:hover {
	color: #fffcf4;
}

.myfilefolderlist {
	
}

.myfilefolderlist ul {
	list-style: none;
}

.myfilefolderlist ul li {
	float: left;
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 17px 26px;
	min-width: 210px;
	margin-left: 20px;
	font-size: 13px;
	color: #000;
	font-weight: 600;
	margin-bottom: 20px;
}

.myfilefolderlist ul li img {
	float: left;
	margin: 10px 20px 10px 5px;;
}

.myfilefolderlist ul li span {
	font-size: 11px;
	color: #000;
	display: block;
}

.filelist01 {
	background-color: #f5f5f5;
	overflow: hidden;
	padding: 30px 0;
	border-radius: 3px;
}

.filelist01 ul {
	list-style: none;
}

.filelist01 ul li {
	float: left;
	margin-left: 20px;
}


.edison .search {
    padding: 10px;
    margin: 0 auto;
    height: 32px
}

.edison .searchbox {
     margin-left: 8px;
    padding-left: 8px;
    width: 232px;
    height: 30px;
    background: url(../images/monitoring/search_bg02.png) left bottom no-repeat;
    float: none;
}

.edison .searchbox input {
    color: #646464;
    border: 0;
    width: 290px;
    height: 19px;
    margin-top: 2px;
    font-size: 15px;
    outline: 0
}

.edison .searchbox input[type="button"] {
    width: 24px;
    height: 24px;
    float: right;
    margin-top: 2px;
    margin-right: 16px;
    background: url(../images/search/btn_search.gif) no-repeat;
    border: 0
}