
.jtk-group {
    border:2px solid cadetblue;
/*     z-index: 10; */
    min-width: 250px;
    min-height: 250px;
}

.jtk-group.jtk-drag-hover, .jtk-node.jtk-drag-hover {
    outline:2px solid red;
}

.group-title {
    margin:0;
    width:100%;
    height:40px;
    line-height:40px;
    background-color:cadetblue;
    color:white;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-indent:7px;
}

.group-title button {
    position:absolute;
    right:5px;
    top:10px;
    cursor:pointer;
    line-height: 1;
    color: black;
}

.group-title .group-delete{
	padding: 1px 6px;
}

.group-title .group-delete:before {
    content: "\f1f8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.group-connect {
    position:absolute;
    bottom:10px;
    left:10px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.jtk-group {
    background-color: paleturquoise;
}

.jtk-group.jtk-group-collapsed {
    height:40px;
    min-height:0;
}

.jtk-group.jtk-group-collapsed .group-title button:after {
    content:"+";
}

.jtk-group [jtk-group-content] {
    min-height:210px;
    margin:5px;
}

.jtk-group.jtk-group-collapsed [jtk-group-content] {
    display:none;
    min-height: 0;
}

.jtk-connector {
    z-index:12;
}

.jtk-demo-dataset {
    overflow: auto;
    width: 250px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    height:700px;
    max-height:none;
}