.wf-box {
    font-size: 12px;
    position: absolute;
    display: inline-block;
    width: 175px;
    min-width: 150px;
    border: 1px #bbb solid;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 3px;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: hsla(220, 11%, 97%, .95);
    box-shadow: inset 0 1px 1px white, 0 2px 2px hsla(0, 0%, 0%, .2);
    line-height: 20px;
    z-index: 100;
}

.wf-box .wf-node-header{
	width: 100%;
	display: table;
}

.wf-box .wf-node-header .app-config{
	cursor: pointer;
}

.wf-box .wf-node-header h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.wf-box .wf-node-header h1.wf-node-header-title {
    font-size: 12px;
    font-weight: 600;
    font-family: proxima-nova-bold;
    margin: 0;
    padding: 6px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #fff;
    width: 150px;
    float: left;
}

.wf-box .wf-node-header .wf-node-menu-icon{
	float: right;
	cursor: pointer;
	padding: 2px 5px;
}

.wf-box .wf-node-header.wf-tool {
	background-color: #8db9e59e;
}

.wf-box .wf-node-ports {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #f9f9f9;
    box-shadow: 0 0 1px #dddfe3;
    background-color: hsla(0, 100%, 100%, .5);
    position: relative;
    min-height: 60px;
}

.wf-box .wf-node-ports .wf-port label.wf-port-label {
    max-width: 85%;
    font-weight: 200;
    font-size: 11px;
}

.wf-box .wf-node-ports .input-ports-list {
    float: left;
    width: 50%;
    padding: 5px 0;
    text-align: left;
}

.wf-box .wf-node-ports .input-ports-list li.wf-port,
.wf-box .wf-node-ports .output-ports-list li.wf-port {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.wf-box .wf-node-ports .input-ports-list .wf-port label.wf-port-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    left: 5px;
    margin-bottom: 0px;
	top: -3px;
}

.wf-box .wf-node-ports .input-ports-list .wf-port div.connect {
    border-color: hsla(0, 100%, 88%, .6);
    border: 1px #c6cad1 solid;
    box-shadow: inset 0 1px 1px #667699;
    cursor: pointer;
    width: 11px;
    height: 11px;
    margin-bottom: -1px;
    display: inline-block;
    border-radius: 4px;
    text-align: left;
    background-color: white;
    float: left;
    position: relative;
    top: 1.5px;
}

.wf-box .wf-node-ports .input-ports-list .wf-port div.jtk-connected{
	background-color: #37ec0b !important;
}

.wf-box .wf-node-ports .output-ports-list {
    float: right;
    width: 49%;
    z-index: 1;
    padding: 5px 0;
    text-align: right;
}

.wf-box .wf-node-ports .output-ports-list .wf-port label.wf-port-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    right: 5px;
    margin-bottom: 0px;
    top: -3px;
}

.wf-box .wf-node-ports .output-ports-list .wf-port div.connect {
    border-color: hsla(0, 100%, 88%, .6);
    border: 1px #c6cad1 solid;
    box-shadow: inset 0 1px 1px #667699;
    cursor: pointer;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 4px;
    text-align: right;
    background-color: white;
    float: right;
    position: relative;
    top: 1.5px;
}

.wf-box .wf-node-ports .output-ports-list li.jtk-connected > div.connect{
	background-color: #ec920b !important;
}

.wf-box .wf-node-ports:before {
    position: absolute;
    font-family: 'FontAwesome';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    opacity: 0.2;
}

.wf-box .wf-node-ports.ScienceApp:before {
    content: "\f085";
}

.wf-box .wf-node-ports.DynamicConverter:before {
    content: "\f1c9";
}

.wf-box .wf-node-ports.Controller:before {
    content: "\f024";
}

.wf-box .wf-node-ports.FileComponent:before {
    content: "\f15c";
}

.wf-box.true .wf-node-ports:before {
    content: "\f1d8";
}



.wf-box .wf-node-ports ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wf-box .wf-node-ports ul li {
    line-height: 16px;
}

.wf-box .wf-node-ports ul li.wf-port {
    border: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.wf-box .wf-node-ports ul lable.wf-port-label {
    font-family: proxima-nova-regular;
}

.wf-box .wf-node-execute-status{
	width: 100%;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	border-top: 1px solid #bbb;
}

.wf-box.WAITING .wf-node-header,
.wf-box.CANCELED .wf-node-header,
.wf-box.CREATED .wf-node-header,
.wf-box.NOT_FOUND .wf-node-header {
    background-color: hsla(220, 11%, 97%, .95);
}

.wf-box.RUNNING .wf-node-header {
    background-color: hsl(217, 71%, 53%);
    color: white;
}

.wf-box.FAILED .wf-node-header {
    background-color: hsl(348, 100%, 61%);
    color: white;
}

.wf-box.DONE .wf-node-header,
.wf-box.SUCCESS .wf-node-header,
.wf-box.COMPLETED .wf-node-header {
    background-color: hsl(141, 71%, 48%);
    color: white;
}

.wf-box.PAUSED .wf-node-header {
    background-color: hsl(48, 100%, 67%);
    color: white;
}

.wf-box.RUNNING .wf-node-header h1.wf-node-header-title,
.wf-box.FAILED .wf-node-header h1.wf-node-header-title,
.wf-box.DONE .wf-node-header h1.wf-node-header-title,
.wf-box.SUCCESS .wf-node-header h1.wf-node-header-title,
.wf-box.COMPLETED .wf-node-header h1.wf-node-header-title,
.wf-box.PAUSED .wf-node-header h1.wf-node-header-title {
	text-shadow: none;
}

.jtk-endpoint {
	z-index: 10;
}

.top-cog-icon {width: auto !important;}

.delete-relationship{
	/* background-color: #ecf0f5; */
	color: #ff1300;
	font-size: 10px;
	font-weight: 400;
	padding: 1px 2px;
	z-index: 100;
	border-radius: 12px;
	cursor: pointer;
	text-align: center;
	line-height: 0px !important;
}

.delete-relationship i{
	background-color: #ecf0f5;
	border-radius: 10px;
}

.delete-relationship:hover,
.delete-relationship i:hover{
	color: #fff;
	background-color: #f76258;
}
