.menu-panel-box-app .box-body.jstree{
    overflow-y: auto;
}
.menu-panel-box-app .box-body.jstree ul > li > a{
    text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; width: 85%;
}

#body-div .menu-panel-box-app .header-inner,
#body-div .menu-panel-box .header-inner{
    padding: 15px 5px 10px 10px;
}

.search-input {
    border: none;
    outline: 0;
    margin-left: 5px !important;
}

.search-input:focus {
    border: none;
    outline: 0;
}

.menu-panel{
    pointer-events:none;
    background:none !important;
}

.menu-panel-box,
.menu-panel-box-app > .app-column{
    pointer-events: auto;
}

.menu-panel tbody.panel-tbody > tr {
    cursor: pointer;
}

.default-title{line-height: 1.3 !important;}

/* workflow science app box */
.apparea{position: relative; height: 100%; display: flex; flex-grow:1;}

.waitingbox{border-radius:3px; border:solid 1px #00abe3; background-color:#b6e1f8;}
.waitingbox span{font-size:18px; color:#114a69; font-weight:500;}

.loopbox{background-color:#f7b036;}


.runningbox{border-radius:3px; border:solid 1px #00abe3; background-color:#8db9e5;}
.runningbox span{font-size:18px; color:#fff; font-weight:500;}

.failbox{border-radius:3px; border:solid 1px #00abe3; background-color:#f8799b;}
.failbox span{font-size:18px; color:#fff; font-weight:500;}

.donebox{border-radius:3px; border:solid 1px #00abe3; background-color:#76d6cd;}
.donebox span{font-size:18px; color:#fff; font-weight:500;}

.wf-box {
    box-sizing: content-box;
    padding: 30px 5px 5px 15px;
    width: 100px !important;
    height: 110px !important;
    position: absolute;
    cursor: move;
    border-radius: 3px;
    border: solid 1px #00abe3;
}

.wf-box .wf-app-title, .wf-container .jstree-leaf{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.wf-box .wf-app-title{font-size: 15px; font-weight: 500; color: #fff;}
.wf-box .wf-app-status{position: relative; top: 25px;}
.waitingbox .wf-app-title{ color: #114a69; border-color: #5492ba; }
.pausebox{border-radius:3px; border:solid 1px #CA412B; background-color:#fb6e50;}
.wf-box .addIp { font-weight: 500; text-decoration: none; text-indent: 0px;
    line-height: 0px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    text-align: center; vertical-align: middle; display: inline-block; font-size: 12px;
    color: #fff; padding: 10px; text-shadow: #ade6ff 0px 0px 0px; border-width: 1px; border-style: solid; }
.waitingbox .addIp{ background: #6ba0c3; border-color: #3371a8; }
.runningbox .addIp{ background: #3a81c0; border-color: #3371a8; }
.failbox .addIp{ background: #c84444; border-color: #b73535; }
.pausebox .addIp{ background: #4E5A68; border-color: #4E5A68; }
.donebox .addIp{ background: #32a993; border-color: #2e9886; }
.wf-app-status-icon{ top: 25px; left: 10px; position: relative;}

.wf-converter{}
.wf-converter.wf-dynamic > .wf-app-title{overflow: visible; white-space: normal;}
.waitingbox.wf-converter.wf-dynamic{background: #44b4c5;}
.waitingbox.wf-converter.wf-static{background: #3181c6;}

.wf-box.wf-controller{background-color:transparent !important;}

.wf-box.wf-controller{
    width: 150px !important;
    height: 120px !important;
    padding: 0px !important;
    border: none !important;
}
.wf-box > svg {
    width: 180px;
    height: 140px;
}
.wf-box g.fc-decision > text{
    font-size: 15px;
    font-weight: bold;
    fill:  #114a69;
}
.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #44b4c5;
}

.runningbox.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #3a81c0;
}

.donebox.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #32a993;
}

.failbox.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #c84444;
}

.pausebox.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #4E5A68;
}

.hidden{display: none;}
.jsplumb-endpoint:hover{cursor: pointer; z-index: 9999;}
.jsplumb-overlay{z-index: 1 !important;}

.wftitlebox001 > input[type="text"]{width: 55%; margin-bottom: 2px;}
.wftitlebox001 > span > input[type="button"]{margin-right: 5px;}
.wftitlebox001 > h2 {float: left;}
.apparea > div {z-index: 2;}

.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
.ui-selected{border: solid 1px #555555; box-shadow: 3px 3px 7px #c6c6c6;}
.ui-selected.wf-controller g.fc-decision > .fc-rhombus {stroke: #555555; filter: drop-shadow( 3px 3px 7px #c6c6c6 );}
.ui-selected.wf-controller{border: none; box-shadow: none;}

.ui-selecting.wf-controller g.fc-decision > .fc-rhombus{fill:rgba( 30, 30, 30,0.4 ); stroke: #555555; filter: drop-shadow( 3px 3px 7px #c6c6c6 );}
.ui-selecting.wf-converter,
.ui-selecting.wf-app{background-color: rgba( 30, 30, 30,0.4 ) !important; box-shadow: 3px 3px 7px #c6c6c6; border: solid 1px #000;}

.toast-designer-pos { top: 120px; right: 12px; }

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
