.menu-panel-box-app .box-body.jstree{
    overflow-y: auto;
}
.menu-panel-box-app .box-body.jstree ul > li > a{
    text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; width: 85%;
}

#body-div .menu-panel-box-app .header-inner,
#body-div .menu-panel-box .header-inner{
    padding: 15px 5px 10px 10px;
}

.search-input {
    border: none;
    outline: 0;
    margin-left: 5px !important;
}

.search-input:focus {
    border: none;
    outline: 0;
}

.menu-panel{
    pointer-events:none;
    background:none !important;
}

.menu-panel-box,
.menu-panel-box-app > .app-column{
    pointer-events: auto;
}

.menu-panel tbody.panel-tbody > tr {
    cursor: pointer;
}

.default-title{line-height: 1.3 !important;}

/* workflow science app box */
.apparea{position: relative; height: 100%; display: flex; flex-grow:1;}

.waitingbox{border-radius:3px; border:solid 1px #adadad; background-color:#adadad;}
.waitingbox span{font-size:18px; color:#114a69; font-weight:500;}

.loopbox{background-color:#f7b036;}

.runningbox{border-radius:3px; border:solid 1px #8db9e5; background-color:#8db9e5;}
.runningbox span{font-size:18px; color:#fff; font-weight:500;}

.failbox{border-radius:3px; border:solid 1px #f8799b; background-color:#f8799b;}
.failbox span{font-size:18px; color:#fff; font-weight:500;}

.donebox{border-radius:3px; border:solid 1px #76d6cd; background-color:#76d6cd;}
.donebox span{font-size:18px; color:#fff; font-weight:500;}

.pausebox{border-radius:3px; border:solid 1px #fd9b00; background-color:#fd9b00;}



.wf-box {
    box-sizing: content-box;
    width: 150px !important;
    position: absolute;
    cursor: move;
    border-radius: 10px;
    min-width: 80px;
    min-height: 110px;
    text-align: center;
    overflow: visible;
}

.wf-box h3.wf-title{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.wf-box ul.port li{
    margin-bottom: 10px;
    border: 1px solid #6d6a6a;
	background-color: #edf7f7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.wf-box .input-ports-list{
    float: left;
    position: relative;
    top: 5px;
    left: -15px;
}

.wf-box ul.inputport{
    text-align: left;
    padding-left: 0px;
}

.wf-box ul.inputport .input-port-name{
    color: #000;
    font-size: 15px;
    position: relative;
    top: -15px;
    left: -10px;
    white-space: nowrap;
}

.wf-box .output-ports-list{
    float: right;
    position: relative;
    top: 5px;
    right: -20px;
}

.wf-box ul.outputport{
    text-align: right;
    padding-left: 0px;
    width: 34px;
}

.wf-box output-ports-list{
    float: right;
}

.wf-box ul.outputport .output-port-name{
    color: #000;
    font-size: 15px;
    position: relative;
    top: -15px;
    right: -15px;
    white-space: nowrap;
}

/* 2018.12.20 */
.wf-box .wf-icon{
    text-align: center;
	font-size: 45px;
	padding-bottom: 35px;
	position: absolute;
	width: 100%;
	height: 100%;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Center vertically */
    align-items: center;

    /*Center horizontaly */
    justify-content: center;

    /*Center horizontaly ie */
    -ms-flex-pack: center;
}

.wf-box .wf-icon i{
	position: relative;
	/* top: 25%; */
}

.wf-box .wf-icon .remove-btn{
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.wf-box .wf-app-title, .wf-container .jstree-leaf{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
/* 2018.12.20 */
.wf-box .wf-app-title{
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    position: absolute;
    bottom: -45px;
    left: -20px;
    width: 130%;
}

/* 2018.12.20 */
.wf-box .addIp {
	font-weight: 600; 
	text-decoration: none; 
	text-align: center; 
	font-size: 15px;
	padding: 6px 10px 10px;
	color: #fff;
	border-top: 1px solid #fff;
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 10px;
}

.wf-app-status-icon{ top: 25px; left: 10px; position: relative;}

.wf-converter{}
.wf-converter.wf-dynamic > .wf-app-title{overflow: visible; white-space: normal;}
.waitingbox.wf-converter.wf-dynamic{background: #44b4c5;}
.waitingbox.wf-converter.wf-static{background: #3181c6;}

.wf-box.wf-controller{
    width: 150px !important;
    height: 120px !important;
    padding: 0px !important;
    border: none !important;
}
.wf-box > svg {
    width: 180px;
    height: 140px;
}
.wf-box g.fc-decision > text{
    font-size: 15px;
    font-weight: bold;
    fill:  #114a69;
}
.wf-box g.fc-decision > .fc-rhombus{
    stroke: #00abe3;
    fill: #44b4c5;
}

.hidden{display: none;}
.jsplumb-endpoint:hover{cursor: pointer; z-index: 9999;}
.jsplumb-overlay{z-index: 1 !important;}

.wftitlebox001 > input[type="text"]{width: 55%; margin-bottom: 2px;}
.wftitlebox001 > span > input[type="button"]{margin-right: 5px;}
.wftitlebox001 > h2 {float: left;}
.apparea > div {z-index: 2;}

.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }
.ui-selected{border: solid 1px #555555; box-shadow: 3px 3px 7px #c6c6c6;}
.ui-selected.wf-controller g.fc-decision > .fc-rhombus {stroke: #555555; filter: drop-shadow( 3px 3px 7px #c6c6c6 );}
.ui-selected.wf-controller{border: none; box-shadow: none;}

.ui-selecting.wf-controller g.fc-decision > .fc-rhombus{fill:rgba( 30, 30, 30,0.4 ); stroke: #555555; filter: drop-shadow( 3px 3px 7px #c6c6c6 );}
.ui-selecting.wf-converter,
.ui-selecting.wf-app{background-color: rgba( 30, 30, 30,0.4 ) !important; box-shadow: 3px 3px 7px #c6c6c6; border: solid 1px #000;}

.toast-designer-pos { top: 120px; right: 12px; }

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.controls{
    top: 145px !important;
    left: auto !important;
    right: 13px !important;
    z-index: 10 !important;
    color: #FFF;
    margin-right: 10px;
    position: absolute;
    display: flex;
}
.controls i{
    background-color: #5184a0;
    border-radius: 4px;
    margin-right: 4px;
    padding: 4px;
    cursor: pointer;
}
.controls .selected-mode {
    color: #E4F013;
}

.modal-size-100{
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.modal-body-100{
	height: 100%;
}


