.common-analyzer-portlet {
	border:none;
	height: 100%;
   	min-height:100px;
   	max-height:1000px;
   	margin: 0;
}
.common-analyzer-portlet .header{
	height: 7%;
	margin:10px 5px 5px 5px;
}
.common-analyzer-portlet .canvas{ 
	vertical-align:middle; 
	border:none; 
	height: 90%;
}
.common-analyzer-portlet .no-header-canvas{ 
	vertical-align:middle; 
	border:none; 
	height: 100%;
}

.common-analyzer-portlet .iframe {
   	border:none;
   	height:100%;
   	margin:0;
   	padding:0;
}
.common-analyzer-portlet .cursor {
	cursor: pointer;
	cursor:hand;
}
