@charset "utf-8";

body {font: 12px/1.385 Arial; color:#666; font-family:Arial, Nanum Barun Gothic, NanumGothic;}

body, h1, h2, h3, h4, h5, h6, pre, p, address, li, dl, dt, dd, table, caption, th, td, form, fieldset, legend {margin: 0; padding: 0;}

table{border-collapse:collapse;}
	
th, td{font-weight:normal; text-align:left;}
		
address, em, strong, cite{font-style:normal; font-weight:normal;}
	
hr{display:none;}

img{border:0;}
.clear {clear:both;}

.TR{text-align:right;}
.TC{text-align:center;}
.TL{text-align:left;}

ul, ol{list-style-type:none; margin:0; padding:0;}

.edison {
	h1, h2, h3, h4, h5, h6{font-weight:normal;}
	
	a {outline: none; select-dummy: expression(this.hideFocus=true);}
	a:link{color:#000; text-decoration:none;outline:none;}
	a:visited{color:#000; text-decoration:none;outline:none;}
	a:over{color:#1c69d2; text-decoration:none;outline:none;}
	a:focus{color:#1c69d2; text-decoration:none;outline:none;}
	a:active{color:#1c69d2; text-decoration:none;outline:none;}
	
	.navbar{
		margin-bottom: 0px;
	}
	
	#wrap{
		padding: 0 30px;
		overflow-y:hidden;
		
		.portlet-column{
			padding : 0px;
		}
		
		/*header*/
		#banner{
			width:100%; 
			border-bottom:solid 1px #e6e6e6;
			position:relative;
			background-color:rgba(255, 255, 255, 0.9);
			
			.logo {
				float:left;
				padding-left:25px;
				padding-top:18px;
			}
		}
		#banner.move-banner{
			margin-left: -30px;
			position:fixed;
			z-index:100;
			top:0;
		}
		
		
				
		/*breadcrumbs*/
		#nsubtopwrap{
			width: 100%;
			background-image:url(@theme_image_path@/custom/navigation/sub_top_visual.jpg);
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			background-color: #070300;
			margin-bottom: 5px;
			
			#nsubtoplefttxt{
				font-size: 37px;
				color: #fff;
				font-weight: 600;
				line-height: 1.0em;
				font-family: 'Gudea', sans-serif;
				text-shadow: 0 0 10px #555;
			}
			#nsubtoprighttxt{
				height: 100%;
				padding-top:50px;
				ul{
					margin: 0;
					padding: 0;
					color: #ededed;
					float: right;
					li{
						float: left;
						list-style: none;
						a{
							color: #ededed;
						}
					}
				}
			}
		}
		
		
		.slidemenuicon{
			position:absolute;
			right:0;
			padding-right:24px;
			padding-top:24px;
			cursor: pointer;
			
			a{
				color:blue;
			}
		}
		
		/*menu*/
		#mainmenu{
			float:right;
			padding-right:50px;
			position:relative;
			
			ul{
				margin:0;
				padding:0;
				
				li.hasChildren{
					background-image:url(@theme_image_path@/custom/menu/logo_arrow.png);
					background-position:right center;
					background-repeat:no-repeat;
				}
				li{
					float:left;
					margin-right:20px;
					font-size:14px;
					color:#3d3935;
					line-height:4.5em;
					padding-right:15px;
					
					a{
						color:#3d3935;
						text-decoration: none;
					}
					
					a.menu-on{
						color:#b84956;
					} 
					
					a:hover{
						color:#b84956;
						text-decoration:none;
					}
					
					
					.submenu{
						display: none;
						position:absolute;
						top:63px;
						z-index:100;
						
						ul{
							margin:0;
							padding:0;
							border:solid 1px #e3e3e4;
							border-top:none;
							margin-right:0;
							
							li{
								font-size:13px;
								color:#3d3935;
								line-height:3.0em;
								border-bottom:solid 1px #e6e6e6;
								float:none;
								display:block;
								list-style:none;
								background-image:none;
/* 								z-index:9500 !important; */
								margin-right:0;
								padding:0 20px;
								background-color:rgba(255, 255, 255, 0.9);
								
								a:link{color:#3d3935;}
								a:hover{ text-decoration:underline;}
							}
						}
						
					}
				}
			}
		}
		
		/*slidemenu*/
		.nslidemenu{
			display:none;
			width:10px;
			overflow:hidden;
			z-index:101;
			position:fixed;
			right:0;
			top:0;
			bottom:0;
			background-color:rgba(81, 82, 87, 0.9);
			
			.account{
				width: 100%;
				background-color: #bf4755;
				height: 62px;
				font-size: 14px;
				line-height: 4.3em;
				padding-left: 15px;
				background-image:url(@theme_image_path@/custom/menu/member_icon.png);
				background-repeat:no-repeat;
				background-position:10px center;
				
				.welcome-text{
					color : #fff;
					padding-left: 30px;
				}
			}
			
			.language{
				padding-left: 30px;
			}
			
			ul:after{
				border-bottom: 1px solid #909295;
				content: "";
				display: block;
				margin: 0.75em 1.5em;
			}
			
			ul{
				margin:0;
				padding:0;
				width:100%;
				margin:0 auto;
				
				li{
					font-size:14px;
					color:#fff;
					line-height:2.5em;
					padding-left:25px;
					
					a{color:#fff;}
					a.site-on{color:#00aaff;}
					a:hover{color:#00aaff;}
				}
			}
		}
		
		
		.content{
			min-height:630px;
			form{margin:0px;}
		}
		
		.content-sub{
			width: 1220px;
			margin: 0 auto;
			clear: both;
			padding: 37px 0 50px 0;
			overflow: hidden;
			min-height:630px;
			
			form{margin:0px;}
		}
	}
	
	
	/*popup-button*/
	.popupbtnGroup{width:95%;}
	.popupbtnGroup input{float:right;margin-right: 5px;}
	
	/*footer*/
	.footerwrap{
		background:#fff;
		border-bottom:solid 1px #e5e5e9;
		border-top:solid 1px #e5e5e9;
		height: 80px;
		
		.footertxt{
			width:1220px; 
			height:45px; 
			margin:0 auto; 
			color:#666; 
			font-weight:600;
			padding-top: 20px;
			position: relative;
			line-height: 1.5em;
			
			.lefttxt{
				float: left;
				width: 820px;
				
				span {
					color: #666;
				}
				
				.fr {
					float: left;
				}
			}
			
			.rightbanner{
				position: absolute;
				top: 25px;
				right: 0;
				
				span.ci{
					float: right;
					margin-left: 30px;
					margin-top: -10px;
				}
			}
			
		}
		
	}
	
	.footertxt span{color:#666;}
	.footertxt span a{color:#357db4;}
	.footertxt span a:hover{text-decoration:underline;}
	.footertxt span.ci{float:right;margin-left:30px;margin-top:-10px;}
}