**/.settings
**/.classpath
**/.project
**/.idea
**/ivy.xml.MD5
**/.svn
**/.sass-cache
**/.tern-project
**/.eslintrc.js
**/target/

/*.xml
/*.properties
/*.txt
/*.markdown
/*.bnd
/*/*.xml
!/misc/jalopy.xml
/*/*.bat
/*/*.sh
/*/*.txt
/apps
/dist
/ext
/layouttpl
/lib
/modules
/osgi
/shared
/tools
/webs
/dependencies

**/.sonar
**/pmd-reports
*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.processed
*.swp
*~
.ant-targets-build.xml
.ant_targets
.gh.json
.sass-cache
.sass_cache_*.css
/*/*/.web_bundle_build
/*/*/bin
/*/*/build
/*/*/classes
/*/*/coverage-reports
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/javadoc
/*/*/temp
/*/*/test-classes
/*/*/test-coverage
/*/*/test-results
/*/*/tmp
/.bnd
/.gradle
/.ivy
/baseline-reports
/build.*.properties
/dist
/hooks/*/test/integration/arquillian.xml
/portlets/*/test/integration/arquillian.xml
/webs/*/test/integration/arquillian.xml
/themes/*/docroot/WEB-INF/lib
/themes/*/docroot/css
/themes/*/docroot/images
/themes/*/docroot/js
/themes/*/docroot/layouttpl
/themes/*/docroot/templates
/tmp
/tools/*/*/*/lib
/tools/node*
_sass_cache_*.css


**/docroot/META-INF
**/docroot/WEB-INF/sql/
**/docroot/WEB-INF/tld/*
**/docroot/WEB-INF/service-classes
**/docroot/WEB-INF/service-classes/*
!**/docroot/WEB-INF/tld/edison-ui.tld