.liferaywith1{
	width:20%;
	word-break: break-all;
}

.liferaywith2{
	width:60%;
	word-break: break-all;
}

.liferaywith3{
	width:10%;
	word-break: break-all;
}

.liferaywith4{
	width:15%;
	word-break: break-all;
}

.liferaywith5{
	width:70%;
	word-break: break-all;
}
.liferaywith6{
	width:5%;
	word-break: break-all;
}

.liferaywith7{
	width:50%;
	word-break: break-all;
}

.liferaywith8{
	width:45%;
	word-break: break-all;
}

.liferaywith9{
	width:25%;
	word-break: break-all;
}