.common-editor-portlet .dropdown {
  position: relative;
  display: inline-block;
  min-width: 30px;
  cursor: pointer;
}

.common-editor-portlet .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0;
    padding: 5px 5px;
    z-index: 1;
}

.common-editor-portlet .dropdown:hover .dropdown-content {
    display: block;
    left: -100px;
}

.common-editor-portlet .dropdown .dropdown-content .dropdown-item{
  padding: 2px 2px 2px 2px;
}

.common-editor-portlet .dropdown .dropdown-content .dropdown-item:hover {
	background-color: #949494;
}