.texteditor-portlet{
	padding:0;
	margin: 0;
	height:100%;
}
.texteditor-portlet > div {
	height:inherit;
}

.texteditor-portlet .canvasPanel{
	margin: 0;
	padding:0;
	border: none;
	height:92%;
	overflow:auto; 
}
.texteditor-portlet .canvas{
	margin: 0;
	padding:5px;
	border: none;
	height:100%;
	resize: none;
	overflow:auto; 
}