#debug {
    margin-left: 400px;
    width: 200px;
    background: beige;
    font-size: 9pt;
    opacity: 0.5;
    border: 1px solid gray;
    padding: 10px;
}

#treeview {
    float: left;
    border: 1px solid black;
    overflow: auto;
    width: 250px;
    position: relative;
}

#treview-content {
    position: relative;
    overflow: hidden;
}

.row-item {
    position: absolute;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid black;
    //font-size: 9pt;
}

.row-item:hover {
    background: rgba(0,0,255,0.05);
}