
.leftinfoimg{width:60px; float:left; background-color:#b9d9ec; border-radius:50px; height:45px; text-align:center; color:#fff; font-size:35px; font-weight:600; line-height:1.8em;}

.leftinfoimg img{width:70%; height:auto; text-align:center; vertical-align:middle; }

/* .comment_div{width:910px; float:left;} */
.comment_div{width:909px; float:right;}


.leftinfoimg2{width:60px; float: right; background-color:#b9d9ec; border-radius:50px; height:45px; text-align:center; color:#fff; font-size:35px; font-weight:600; line-height:1.8em;}

.leftinfoimg2 img{width:70%; height:auto; text-align:center; vertical-align:middle;}

/* .rightboxcomm2{width:75%; float:right;} */
.rightboxcomm2{width:909px;; float:left;}




.titlearea{background-image:url(../images/comment/cbox_top.gif); background-position:top left; height:49px;}
.titlea01{background-image:url(../images/comment/cbox_top2.gif); width: 93%;}

.titletxt{float:left; font-size:16px; color:#2e638a; font-weight:600; line-height:3.0em; padding-left:30px;}

.titlerightsns{float:right;}
.titlerightsns ul{list-style:none; margin-top:12px; padding-right:12px;}
.titlerightsns ul li{float:right; margin-right:8px;}

.commenttxtarea{background-image:url(../images/comment/cbox_bottom.gif); background-repeat:repeat-y; background-position:bottom left; min-height:50px; font-size:13px; color:#666; line-height:1.5em; padding:0 20px 15px 30px;}
.reply{background-image:url(../images/comment/cbox_bottom2.gif);}


.commenttxtarea span {font-size:12px; color:#6099b0; padding-top:7px; display:block; line-height:2.5em;}


.commbtn_s{
	background:#f9f9f9!important;
	border:1px solid #7bdcd5!important; border-radius:18px; font-size:11px!important; padding:0 10px; line-height:2.0em!important; text-align:center;
	color:#777 !important;
	}
	
.commbtn_s.del{ border:solid 1px #94a8cc!important;}
.commbtn_s:hover {
	text-decoration:none !important; background-color:#f1f1f1!important;
	}