
/*레이어박스*/
.commulbox01{width:687px; height:29px;  background-image:url(../images/portlet/chatlayer.png); background-position:top; background-repeat:no-repeat;}
.commulbox02{width:617px; min-height:180px; padding:5px 34px 12px 34px; background-color:#e9f4ff; border:solid 1px #848aa3; border-top:none;}

.commulbox02 ul{ padding-top:20px; margin:0;}
.commulbox02 ul li{ font-size:13px; color:#565872; line-height:1.6em; padding-bottom:20px; border-bottom:solid 1px #333;}
.commulbox02 ul li.tit{ font-size:16px; font-weight:600; color:#0c0c0d; line-height:2.0em;}
.commulbox02 ul li:first-child{ border-bottom:none; padding-bottom:2px;}

/*버튼공통*/
.btn_s{
	background:#5d6570!important;
	border:1px solid #426ca9!important; border-radius:2px; font-size:11px; padding:2px 15px;
	color:#fff !important;
	}
	
.btn_s:hover {
	text-decoration:none !important;
	background:#000 !important;
	}

.btn_blue{
	background:#426ca9!important;
	border:1px solid #426ca9 !important;
	color:#fff !important; font-size:14px; padding:7px 15px !important; border-radius:2px!important;
	}
	
.btn_blue:hover {
	text-decoration:none !important;
	background:#365789 !important;
	}
	
/*관련정보 포틀릿*/
.searchleft{width:75%; float:left; padding-bottom:15px;}
.searchright{float:left; padding-bottom:15px; text-align:left;}

.appinfoboxwrap{background-color:#f2f2f2; overflow:hidden;}
.appinfobox{}
.appinfobox ul{width:29%; border-right:solid 1px #fff; margin:0; padding:28px 20px 10px 20px; float:left;}
.appinfobox ul li{font-size:16px; color:#000; line-height:2.0em; padding-left:20px;}
.appinfobox ul li a{color:#000;}
.appinfobox ul li:hover{ border-radius:20px; background-color:#aedbfa;}
.appinfobox ul li img{ vertical-align:middle;}
.appinfobox ul:last-child{ border-right:none;}



/*통합검색*/
.top_category{width:760px; height:36px; float:left; border-radius:3px; background-color:#f6f8f8; border:solid 1px #dfdfdf;}

.category01{}
.category01 ul{margin:0; padding:0; margin-left:50px;}
.category01 ul li{ float:left; font-size:15px; color:#333; margin-right:50px; line-height:2.3em;}


.category02wrap{width:500px; padding-top:10px; position:relative; clear:both; z-index:999;}
.category02{ border:solid 1px #ccc; background-color:#f2fbff; overflow:hidden;}
.category02 ul{}
.category02 ul li{font-size:13px; color:#5c7e9d; float:left; margin-right:22px; line-height:2.8em;}
.category02arrow{position:absolute; left:45%; margin-top:-12px;}
.category02arrow.app{position:absolute; left:15%; margin-top:-12px;}

/*좌측*/
.leftm{width:230px; border-radius:3px; border:solid 1px #a9b2bf; float:left; margin-top:42px; min-height: 400px;}
.leftm > ul{margin:20px 20px;}
.leftm > ul > li {font-size:16px; color:#011144; background:url(../images/search/minus.png) no-repeat 0 10px; padding-left:20px; line-height:1.5em; padding-top: 5px; padding-bottom: 5px;}
.leftm > ul > li a:link{color:#011144;}
.leftm > ul > li a:hover{text-decoration:underline;}
.leftm > ul > li.plus{background:url(../images/search/plus.png) no-repeat 0 10px;}
.leftm > ul > li > ul{padding:0; margin:0; margin-left:-20px;}
.leftm > ul > li > ul > li {font-size:13px; color:#777; line-height:1.7em; background:url(../images/search/arrowbl01.png) no-repeat 18px 7px; padding-left:28px;}
.leftm > ul > li > ul > li a:link{color:#777;}
.leftm > ul > li > ul > li a:hover{text-decoration:underline;}

/*우측*/
.rightcon{width:940px; float:left; margin-top:30px; margin-left:30px;}
.connav{ border-bottom:solid 1px #e3e8e9; overflow:hidden;}
.connav ul{ margin:0; padding:0;}
.connav ul li{ font-size:13px; color:#777; float:left; margin-right:11px; line-height:2.0em;}
.connav ul li:first-child{ color:#000; font-weight:600;}

.boxlist > ul {margin: 0px !important;}
.boxlist > ul > li{cursor: pointer; margin:0; padding:0; width:437px; height:118px; float:left; 
	margin-right:12px; border:solid 1px #edebeb; border-radius:5px; margin-top:15px; 
	padding-right:7px; box-shadow: 1px 1px 0px #ddd; }
.boxlist > ul > li .tit{ font-size:17px; color:#0084ad; line-height:1.3em; padding-top:10px; margin: 5px 0px 5px 0px; padding-right: 10px;}
.boxlist > ul > li .des{ font-size:15px; color:#647f8d; line-height:1.3em; font-weight:500; padding-right: 10px;
	overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; 
	-webkit-box-orient: vertical; word-wrap:break-word; height: 3.9em;}
.boxlist > ul > li > div.left{float:left; text-align: center; margin:10px 20px 10px 12px; white-space: nowrap; width: 100px; height: 98px; border: solid 1px #efefef;}
.boxlist > ul > li > div.left > img{vertical-align: middle; max-width: 100px; max-height: 98px;}
.boxlist > ul > li > div.left > span.align-helper{display: inline-block; height: 100%; vertical-align: middle;}
.boxlist > ul > li > div.right{margin-right:0; width: 300px;}

/*컨텐츠탭*/
.contabm{padding-top:15px; padding-bottom:36px;}
.contabm ul{margin:0; padding:0; border-bottom: 1px solid; border-bottom-color: #bebebe; height: 43px;}
.contabm ul li{width:184px; font-size:16px; color:#5d6570; border:solid 1px #bebebe; border-right:none; line-height:2.7em; float:left; text-align:center; border-bottom: 0px;}
.contabm ul li a{color:#5d6570;}
.contabm ul li:hover{ background-color:#f6f6f6; border-bottom:solid 4px #547dcd;line-height:39.5px;}
.contabm ul li:last-child{border-right:solid 1px #bebebe;}
.contabm ul li.sel{background-color:#f6f6f6; border-bottom:solid 4px #547dcd; line-height:39.5px;}

.styleh32{font-size:22px; color:#000; border-bottom:solid 1px #444; line-height:2.6em; background:url(../images/portlet/subtit_bl.png) no-repeat 0 8px; padding-left:18px;}
.styleh3{font-size:21px; color:#444; border-bottom:solid 1px #444; line-height:2.6em; padding-bottom:2px; background:url(../images/search/tit_bl.png) no-repeat 0 10px; padding-left:27px;}


.conlist{}
.conlist > .search-results > ul {margin: 0px !important;}
.conlist > .search-results > ul > li{ margin:0; padding:0; padding-top:3px; padding-bottom:15px; border-bottom:solid 1px #eee;}
.conlist > .search-results > ul > li > a, 
.conlist > .search-results > ul > li > div, 
.conlist > .search-results > ul > li > .result-none{font-size:15px; color:#777; font-weight:500; line-height:1.4em;}
.conlist > .search-results > ul > li > a, 
.conlist > .search-results > ul > li > .result-none{ font-size:17px; color:#000; line-height: 2.5em;}


.conpwrap{text-align:center; overflow:hidden;}
.conpage{margin:0 auto; text-align:center; padding:20px 0; font-size:18px; clear:both;}
.conpage a{display:inline-block; color:#383838; float:left; margin:0 8px; font-weight:500; vertical-align:middle;}
.conpage a:hover{font-weight:600;}
.conpage .sel{font-size:20px; color:#606060; font-weight:600; vertical-align:top;}


.rightsearch{float:right; width:430px; margin:0; padding:0;}
.rightsearch input{width:264px !important;}

.search-content-wrapper > .blockMsg {top: 180px !important;}
