<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$theme.getSetting("content-title")</title>

	<meta content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	$theme.include($top_head_include)
</head>

<body class="$css_class">
	#if ($dock_show)
		#dockbar()
	#end
	
	$theme.include($body_top_include)
	
	<div id="wrap" class="container-fluid">
		<header id="banner" class="row-fluid">
			<div class="logo">
				<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" usemap="#Map"/>
				
				<map name="Map" id="Map">
					<area shape="rect" coords="0,0,85,80" href="$company_url" onfocus="blur();" alt="#language("go-to") EDISON" title="#language("go-to") EDISON"/>
					<area shape="rect" coords="86,0,210,80" href="$site_main_url" onfocus="blur();" alt="#language("go-to") #language($theme.getSetting("content-title"))" title="#language("go-to") #language($theme.getSetting("content-title"))"/>
				</map>
			</div>
			
			#parse ("$full_templates_path/edison_menu.vm")
		</header/>
		
		#parse ("$full_templates_path/edison_side_menu.vm")
		
		#if($show_breadcrumbs)
			<div id="nsubtopwrap" class="row-fluid">
				<div class="container">
					<div class="row" style="padding: 30px 0;height:120px;">
						<div class="col-md-8" id="nsubtoplefttxt">
							$themeDisplay.getLayout().getName($themeDisplay.getLocale())
						</div>
						<div class="col-md-4 text-right" id="nsubtoprighttxt">
							#breadcrumbs()
						</div>
					</div>
				</div>
			</div>
		#end
		
		<div class="$content_class">
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
			
		</div>
	</div>
	<footer id="footer" role="contentinfo">
		#parse ("$full_templates_path/footer.vm")
	</footer>
	
	$theme.include($body_bottom_include)

	$theme.include($bottom_include)
</body>

</html>