

/*left*/
.mpleft {width:18%; float:left; position:absolute; z-index:99; color:#777; background: #f1f1f1;}
.mpleft ul{list-style:none; margin:0; padding:0;}
.mpleft ul li{width:100%; height:55px; line-height:3.5em; font-size:15px; color:#777777; font-weight:500;  padding-left:43px; border:solid 1px #d2d2d2; border-right:solid 1px #454545; position:relative; cursor: pointer;}
.mpleft ul li:hover{font-weight: 600; border:solid 1px #454545; border-right:solid 1px #ffffff;}
.mpleft ul li a:link{color:#777777;}
.mpleft ul li a:hover{color:#000;}/*가능하면 .select 와 같은 형태로 보여지길 원함*/
.mpleft ul li.first{height:55px; line-height:3.5em; font-size:15px; color:#777777; font-weight:500;  padding-left:43px; border:solid 1px #d2d2d2; border-right:solid 1px #454545;}
.mpleft ul li.select{width:101%;height:55px; font-size:15px; color:#000; font-weight:500; padding-left:43px; background-color:#fff; border:solid 1px #454545; border-right:solid 1px #ffffff; cursor: pointer;}
/*즐겨찾기 앱 */
.mpleft ul li.favoriteApp{background:url(../images/mypage/icon01off.png) no-repeat 11px 17px;}
.mpleft ul li.favoriteApp.select{background:url(../images/mypage/icon01.png) no-repeat 11px 17px;background-color: #ffffff}

/*사이트 가입/탈퇴*/
.mpleft ul li.siteJoin{background:url(../images/mypage/icon02off.png) no-repeat 11px 17px;}
.mpleft ul li.siteJoin.select{background:url(../images/mypage/icon02.png) no-repeat 11px 17px;background-color: #ffffff}
/*수강 현황*/
.mpleft ul li.myCourse{background:url(../images/mypage/icon03off.png) no-repeat 11px 17px}
.mpleft ul li.myCourse.select{background:url(../images/mypage/icon03.png) no-repeat 11px 17px; background-color: #ffffff}
/*강좌 현황*/
.mpleft ul li.myClass{background:url(../images/mypage/icon03off.png) no-repeat 11px 17px}
.mpleft ul li.myClass.select{background:url(../images/mypage/icon03.png) no-repeat 11px 17px; background-color: #ffffff}
/*내 워크스페이스*/
.mpleft ul li.myWorkspace{background:url(../images/mypage/icon04off.png) no-repeat 11px 17px;}
.mpleft ul li.myWorkspace.select{background:url(../images/mypage/icon04.png) no-repeat 11px 17px; background-color: #ffffff}
/*내 파일 관리*/
.mpleft ul li.myFile{background:url(../images/mypage/icon05off.png) no-repeat 11px 17px;}
.mpleft ul li.myFile.select{background:url(../images/mypage/icon05.png) no-repeat 11px 17px; background-color: #ffffff}
/*나의 앱 목록*/
.mpleft ul li.myApp{background:url(../images/mypage/icon06off.png) no-repeat 11px 17px;}
.mpleft ul li.myApp.select{background:url(../images/mypage/icon06.png) no-repeat 11px 17px; background-color: #ffffff}
/*나의 이력관리*/
.mpleft ul li.myHistory{background:url(../images/mypage/icon06off.png) no-repeat 11px 17px;}
.mpleft ul li.myHistory.select{background:url(../images/mypage/icon06.png) no-repeat 11px 17px; background-color: #ffffff}
/*나의 사이언스테이터*/
.mpleft ul li.myScienceData{background:url(../images/mypage/icon05off.png) no-repeat 11px 17px;}
.mpleft ul li.myScienceData.select{background:url(../images/mypage/icon05.png) no-repeat 11px 17px; background-color: #ffffff}
/*콘텐츠 */
.mpleft ul li.myContent{background:url(../images/mypage/icon04off.png) no-repeat 11px 17px;}
.mpleft ul li.myContent.select{background:url(../images/mypage/icon04.png) no-repeat 11px 17px; background-color: #ffffff}
/*시뮬레이션 */
.mpleft ul li.mySimulation{background:url(../images/mypage/icon03off.png) no-repeat 11px 17px}
.mpleft ul li.mySimulation.select{background:url(../images/mypage/icon03.png) no-repeat 11px 17px; background-color: #ffffff}
/*프로젝트*/
.mpleft ul li.myProject{background:url(../images/mypage/icon03off.png) no-repeat 11px 17px}
.mpleft ul li.myProject.select{background:url(../images/mypage/icon03.png) no-repeat 11px 17px; background-color: #ffffff}
/*데이터타입  */
.mpleft ul li.myDataType{background:url(../images/mypage/icon05off.png) no-repeat 11px 17px;}
.mpleft ul li.myDataType.select{background:url(../images/mypage/icon05.png) no-repeat 11px 17px; background-color: #ffffff}
/*가스터빈 내 파일 관리*/
.mpleft ul li.eturbMyFile{background:url(../images/mypage/icon05off.png) no-repeat 11px 17px;}
.mpleft ul li.eturbMyFile.select{background:url(../images/mypage/icon05.png) no-repeat 11px 17px; background-color: #ffffff}
/* 나의 데이터 */
.mpleft ul li.my_Data{background:url(../images/mypage/my_data_off.png) no-repeat 11px 17px;}
.mpleft ul li.my_Data.select{background:url(../images/mypage/my_data_on.png) no-repeat 11px 17px; background-color: #ffffff}
/* 나의 노트북 */
.mpleft ul li.myNotebook{background:url(../images/mypage/my_notebook_off.png) no-repeat 11px 17px;}
.mpleft ul li.myNotebook.select{background:url(../images/mypage/my_notebook_on.png) no-repeat 11px 17px; background-color: #ffffff}

.mprightcont{width:82%;float:right;border-top:solid 1px #454545;border-left:solid 1px #454545; padding-left:17px; padding-right:20px; min-height:700px;padding-top:10px;}


.ui-draggable-dragging {
	width: 177px;
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	list-style-type: none;
	list-style-position: inside;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc !important;
	background-color: #fafafa !important;
	color: #bbb !important;
}

.listActive {
	border: 1px solid #ccc;
	background-color: #fcfcfc;
	padding: 0.5em 0 3em 0 !important;
}

.placeholder {
	list-style-type: none;
	text-align: center;
	font-style: italic;
	border: 1px dashed #ddd !important;
	background-color: #fff !important;
	color: #aaa !important;
}

.dismiss {
	float: right;
	position: relative;
	top: -8px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none !important;
	color: #468847;
}

ul.source, ul.target {
	min-height: 50px;
	margin: 0px 25px 10px 0px;
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	list-style-type: none;
	list-style-position: inside;
}

ul.source {
	border-color: #f8e0b1;
}

ul.target {
	border-color: #add38d;
}

.source li, .target li {
	margin: 5px;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: move;
}

.source li {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	color: #c09853;
}

.target li {
	background-color: #ebf5e6;
	border: 1px solid #d6e9c6;
	color: #468847;
}

.sortable-dragging {
	border-color: #ccc !important;
	background-color: #fafafa !important;
	color: #bbb !important;
}

.sortable-placeholder {
	height: 40px;
}

.source .sortable-placeholder {
	border: 2px dashed #f8e0b1 !important;
	background-color: #fefcf5 !important;
}

.target .sortable-placeholder {
	border: 2px dashed #add38d !important;
	background-color: #f6fbf4 !important;
}

.sideBySide {
	width: 35%;
	margin: auto;
}
.dialogSelectGroupLeft, .dialogAllgroupRight {
	width: 50%;
	float: left;
}

.dialogSelectGroupLeft h4, .dialogAllgroupRight h4 {
	text-align: center;
}

/* MY PAGE 내 class='container'인 포틀릿의 크기 */
.mprightcont .container{
	width: 100%;
}