.eturb-xy-chart-portlet{width:inherit; border:none; height: 100%;}
.eturb-xy-chart-portlet .menu-section{height: 7%;}
.eturb-xy-chart-portlet .canvas{ vertical-align:middle; width:inherit; border:none; height: 92%;}
