/* Virtual Lab Class Science App List */
.classtitle {
	width: 1200px;
	margin: 0 auto;
	font-size: 27px;
	color: #383838;
	padding-top: 33px;
	padding-left: 63px;
	padding-bottom: 20px;
	background: url(../images/class_bl3.png) no-repeat 0px 21px;
	border-bottom: solid 1px #cfcdce;
	position: relative;
}

.adminbtn {
	position: absolute;
	right: 0;
	top: 30px;
}

.adminbtn:hover {
	cursor: pointer;
}

.scienceappwrap {
	width: 1200px;
	margin: 0 auto;
	padding: 27px 0;
	overflow: hidden;
	border-bottom: solid 1px #cfcdce;
}

.scienceapp {
	width: 268px;
	height: 233px;
	background-color: #e4e4e4;
	border-bottom: solid 40px #161616;
	position: relative;
	font-family: 'nanumgothic';
	margin: 0 9px;
	float: left;
}

.scienceapp ul {
	margin: 0;
	padding: 0;
}

.scienceapp ul li {
	list-style: none;
	line-height: 1.4em;
	font-size: 15px;
	font-weight: 500;
	color: #777;
	float: left;
	padding: 20px 26px;
}

.scienceapp ul li a {
	color: #777;
}

.scienceapp ul li a:hover {
	text-decoration: underline;
}

.scienceapp ul li:first-child {
	list-style: none;
	font-size: 18px;
	font-weight: 600;
	color: #000;
	line-height: 1.2em;
	padding-bottom: 20px;
	border-bottom: solid 1px #fff;
	margin-bottom: 16px;
	margin: 0;
	padding: 24px 35px 10px 24px;
}

.scienceapp ul li:first-child a {
	color: #000;
}

.scienceapp ul li:first-child a:hover {
	text-decoration: underline;
}

.apparrow {
	float: left;
	margin-top: 88px;
}

.manualdnbtn {
	position: absolute;
	bottom: -28px;
	right: 15px;
	color: #fff;
}

.scienceappTitle {
	width: 100%;
	height: 75px;
}

/* Virtual Lab Class Note And QnA */
.conwrap2 {
	/* modify width value, add max-width */
	width: 100%;
	max-width: 1200px;
	padding: 69px 0 50px 0;
	margin: 0 auto;
	overflow: hidden;
}

.conwraptit01 {
	position: relative;
	line-height: 2.5em;
	font-size: 27px;
	color: #383838;
	background: url(../images/class_bl4.png) no-repeat 0 5px;
	padding-left: 50px;
	padding-bottom: 5px;
	margin-bottom: 24px;
	border-bottom: solid 1px #cfcdce;
}

.moreicon {
	font-size: 15px;
	color: #822b4f;
	position: absolute;
	top: 10px;
	right: 0;
}

.moreicon a:link {
	color: #822b4f;
}

.moreicon a:hover {
	text-decoration: underline;
}

/* Virtual Lab Class Note */
.conwrap2left {
	width: 100%;
	float: left;
}

.filetitbox {
	width: 77%;
	height: 82px;
	float: left;
	font-size: 18px;
	color: #000;
	font-weight: 600;
	padding: 15px 25px;
	line-height: 1.2em;
	vertical-align: middle;
	background-color: #e4e4e4;
	border-bottom: solid 1px #fff;
}

.filetitbox a:link {
	color: #000;
}

.filetitbox a:hover {
	text-decoration: underline;
}

.btnbox {
	width: 23%;
	float: right;
	position: relative;
	padding-left: 1px;
	border-bottom: solid 1px #fff;
}

.btn_dn {
	width: 128px;
	height: 40px;
	text-align: center;
	line-height: 3.1em;
	background-color: #3c6d5d !important;
	color: #ddd !important;
	display: block;
	font-weight: 600;
}

.btn_dn a:link {
	color: #ddd !important;
}

.btn_dn:hover {
	background-color: #000 !important;
	text-decoration: none !important;
}

.btn_view {
	width: 128px;
	height: 41px;
	text-align: center;
	line-height: 3.1em;
	background-color: #2f5f60 !important;
	color: #ddd !important;
	display: block;
	font-weight: 600;
}

.btn_view a:link {
	color: #ddd;
}

.btn_view:hover {
	background-color: #000 !important;
	text-decoration: none !important;
}

/* Virtual Lab Class QnA */
/* .rightt {
	background: url(../images/class_bl5.png) no-repeat 0 5px;
	padding-left: 65px;
}

.conwrap2right {
	width: 47%;
	float: right;
}

.qalist {
	padding-bottom: 19px;
	border-bottom: solid 1px #bcbcbc;
	font-family:'Nanum Gothic', sans-serif;
}

.qalist ul {
	margin: 0;
	padding: 0;
}

.qalist ul li {
	list-style: none;
	font-size: 15px;
	color: #666;
	line-height: 2.5em;
}

.qalist ul li:nth-child(even) {
	line-height: 1.2em;
	margin-bottom: 15px;
}

.qalist ul li a:link {
	color: #666;
}

.qalist ul li a:hover {
	text-decoration: underline;
}

.btn_s_q {
	background-color: #d4e961;
	font-size: 11px;
	color: #474f58 !important;
	font-weight: 600;
	border-radius: 2px;
	text-align: center;
	padding: 0 10px;
	line-height: 1.2em !important;
	height: 22px;
	margin: 0px 2px 0 2px;
	border: solid 1px #ddd;
	cursor: pointer !important;
}

.btn_s_a {
	background-color: #01dee9;
	font-size: 11px;
	color: #474f58 !important;
	font-weight: 600;
	border-radius: 2px;
	text-align: center;
	padding: 0 10px;
	line-height: 1.2em !important;
	height: 22px;
	margin: 0px 2px 0 2px;
	border: solid 1px #ddd;
	cursor: pointer !important;
} */