.swpopleft{width:39%; padding:20px 5px 15px 5px; float:left;}
.swpopright{width:59%; padding:20px 0px 10px 0; float:left; position:relative;}
.swtabtitle{width:90px; float:left; background:url(../images/appmanager/swarrow02.png) no-repeat 20px 13px; padding-left:40px; border:solid 1px #d1d1d1; color:#ee843e; height:32px; font-size:15px; line-height:2.4em; border-bottom: solid 1px #fff;z-index:90;position:relative;}
.swsearchbox{width:350px; float:right; text-align:right;}
.swrightcon{width:94%; padding:20px; font-size:15px; font-weight:500; color:#555; outline:solid 1px #d1d1d1; margin-top:33px; line-height:1.6em;overflow-x: hidden;overflow-y: auto;margin: 1px;}
.swrightconbtnbox{width:90%; text-align:right; padding-top:15px; float:right;}
.swbluebox{width:414px; height:436px; float:left; margin-top:24px; border:solid 1px #e0dae2; border-radius:3px; background-color:#f3f8fe;}
.swrightbox{width:530px; float:right;}
.swtopbtnbox{width:50%; float:right; text-align:right; padding-top:15px;}

.edison .tablesw_list {
    line-height: 1.3em;
    width: 100%;
    border-top: 2px solid #6a8ec6;
    border-collapse: collapse;
    font-size: 15px; font-weight:500; }
.edison .borderno {
    border-top: 0px solid #6a8ec6; }
.edison .tablesw_list a {
    text-decoration: none; }
.edison .tablesw_list a:hover {
    color: #000;
    text-decoration: none; }
.edison .tablesw_list caption {
    text-align: right;
    padding-right: 15px;
    color: #777;
    width: 100%;
    padding-bottom: 5px; }
.edison .tablesw_list th {
    line-height: 2.0em;
	border: 1px solid #e1e1e1;
    border-bottom: 1px solid #ccc;
    padding:4px;
    color: #000;
    font-weight:500;
	background:url(../images/appmanager/swarrow01.png) no-repeat 15px 12px;
    background-color: #f1f1f1;
    text-align: left; padding-left:35px;
    font-size: 18px; }
.edison .tablesw_list td.bottom {
    border-bottom: 1px solid #9397AE; }
.edison .tablesw_list td {
    border: 1px solid #e1e1e1;
    color: #555; font-weight:500;
    padding:10px;
	padding-left:20px;
    vertical-align: middle; }
.edison .tablesw_list td img {
    vertical-align: middle; }
.edison .tablesw_list td.view {
    padding-top: 15px;
    padding-bottom: 20px;
    min-height: 250px; }
.edison .tablesw_list td.name {
    color: #2184aa; }
.bgcolor{ background-color:#fafafa;}	
.bgcolor2{ background-color:#fdfdfd}
.edison .tablesw_list tr.selected{background-color: #A5CAEF;}



.edison .button08_2 {
    padding: 4px 10px 5px 10px;
    height: 34px;
    background: #606060;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: solid 1px #6a6a6b;
    min-width: 90px;
    color: #fff;
    font-weight: 600;
    font-size: 15px; }
	
	
.edison .button005_1 {
    font-weight: bold;
    text-decoration: none;background: #f2f2f2;
    text-indent: 0px;
    line-height:0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 15px;
    color: #222;
    padding: 13px 9px 15px 9px;
    border-color: #a4a4a4;
    border-width: 1px;
    border-style: solid; }
.edison .button005_:active {
    position: relative;
    top: 1px;}
.edison .button005_1:hover {
    background: #1d252d;
    background: -o-linear-gradient(90deg, #1d252d, #5c6672);
    background: -moz-linear-gradient(center top, #1d252d 5%, #5c6672 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1d252d), color-stop(1, #5c6672));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d252d', endColorstr='#5c6672');
    background: -webkit-linear-gradient(#1d252d, #5c6672);
    background: -ms-linear-gradient(#1d252d, #5c6672);
    background: linear-gradient(#1d252d, #5c6672);
	color:#f9f9f9; }
	
	
	
.edison .button02_1 {
  padding: 2px 20px 2px 15px;
  height: 30px;
  background: url(../images/appmanager/swicon_02.png) no-repeat 13px 7px;
  background-color: #7a92aa;
  padding-left: 37px;
  border-radius: 3px;
  -webkit-border-radius: 1px;
  border: solid 0px #6a6a6b;
  min-width: 70px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 0px 0px 0px #777; }

.edison .button02_1 a:hover {
  color: #fffcf4;
  text-shadow: 1px 1px 0px #516172; }