

/*left*/
.science-app-manager-portlet .swleft {width:16%; float:left; z-index:99; color:#777;}
.science-app-manager-portlet .swleft ul{list-style:none; margin:0; padding:0;}
.science-app-manager-portlet .swleft ul li{width:100%; height:62px; line-height:3.5em; font-size:18px; color:#777777; font-weight:500; background-color:#f9f9f9; padding-left:43px; border:solid 1px #d2d2d2; border-top:none; position:relative;}
.science-app-manager-portlet .swleft ul li a:link{color:#777777;}
.science-app-manager-portlet .swleft ul li a:hover{text-decoration: none;}
.science-app-manager-portlet .swleft ul li:hover{color:#000;border:solid 1px #454545;background-color:#f9f9f9;}/*가능하면 .select 와 같은 형태로 보여지길 원함*/
.science-app-manager-portlet .swleft ul li:first-child{border-top: solid 1px #d2d2d2;}
.science-app-manager-portlet .swleft ul li:first-child:hover{color:#000;border:solid 1px #454545; border-right:solid 1px #fff;background-color:#f9f9f9;}/*가능하면 .select 와 같은 형태로 보여지길 원함*/
.science-app-manager-portlet .swleft ul li.select{width:101%; color:#000;border:solid 1px #454545; border-right:solid 2px #fff;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.select p:after{background:url(../images/appmanager/swarrow01.png) no-repeat 11px 18px; content:'';float: right; margin-top: 4px;height: 40px;}

/*실행환경정보*/
.science-app-manager-portlet .swleft ul li.m01over{background:url(../images/appmanager/micon01over.png) no-repeat 11px 17px;}
.science-app-manager-portlet .swleft ul li.m01out{background:url(../images/appmanager/micon01out.png) no-repeat 11px 17px;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.m01fail{background:url(../images/appmanager/micon01fail.png) no-repeat 11px 17px;background-color: #f9f9f9;}

/*실행환경정보*/
.science-app-manager-portlet .swleft ul li.m02over{background:url(../images/appmanager/micon02over.png) no-repeat 11px 17px;}
.science-app-manager-portlet .swleft ul li.m02out{background:url(../images/appmanager/micon02out.png) no-repeat 11px 17px;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.m02fail{background:url(../images/appmanager/micon02fail.png) no-repeat 11px 17px;background-color:#f9f9f9;}

/*입/출력 포트 정보*/
.science-app-manager-portlet .swleft ul li.m03over{background:url(../images/appmanager/micon03over.png) no-repeat 11px 17px;}
.science-app-manager-portlet .swleft ul li.m03out{background:url(../images/appmanager/micon03out.png) no-repeat 11px 17px;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.m03fail{background:url(../images/appmanager/micon03fail.png) no-repeat 11px 17px;background-color:#f9f9f9;}


/*Layout*/
.science-app-manager-portlet .swleft ul li.m04over{background:url(../images/appmanager/micon04over.png) no-repeat 11px 17px;}
.science-app-manager-portlet .swleft ul li.m04out{background:url(../images/appmanager/micon04out.png) no-repeat 11px 17px;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.m04fail{background:url(../images/appmanager/micon04fail.png) no-repeat 11px 17px;background-color:#f9f9f9;}

/*공개데이터*/
.science-app-manager-portlet .swleft ul li.m05over{background:url(../images/appmanager/micon04over.png) no-repeat 11px 17px;}
.science-app-manager-portlet .swleft ul li.m05out{background:url(../images/appmanager/micon04out.png) no-repeat 11px 17px;background-color:#f9f9f9;}
.science-app-manager-portlet .swleft ul li.m05fail{background:url(../images/appmanager/micon04fail.png) no-repeat 11px 17px;background-color:#f9f9f9;}

/*right cont*/
.science-app-manager-portlet .swrightcont{width:84%; float:right; border-top:solid 1px #454545; border-left:solid 1px #454545; padding-left:20px; min-height:700px;}





.swpopleft{width:40%; margin:40px 25px 15px 25px; float:left;}
.swpopright{width:53%; margin:20px 25px 10px 0; float:left; position:relative;}
.swtabtitle{width:90px; float:left; background:url(../images/appmanager/swarrow02.png) no-repeat 20px 13px; padding-left:40px; border:solid 1px #d1d1d1; color:#ee843e; height:32px; font-size:15px; line-height:2.4em; border-bottom: solid 1px #fff;z-index:90;position:relative;}
.swsearchbox{width:510px; float:right; text-align:right;}
.swrightcon{width:94%; padding:20px; font-size:15px; font-weight:500; color:#555; outline:solid 1px #d1d1d1; margin-top:33px; line-height:1.6em;overflow-x: hidden;overflow-y: auto;margin: 1px;}
.swrightconbtnbox{width:50%; text-align:right; padding-top:15px; float:right;}
.swbluebox{width:414px; height:436px; float:left; margin-top:24px; border:solid 1px #e0dae2; border-radius:3px; background-color:#f3f8fe;}
.swrightbox{width:530px; float:right;}
.swtopbtnbox{width:50%; float:right; text-align:right; padding-top:15px;}




.science-app-manager-portlet .button02_1 {
    padding: 2px 20px 2px 15px;
    height: 30px;
	background:url(../images/appmanager/swicon_02.png) no-repeat 13px 7px;
	background-color: #7a92aa; padding-left:37px;
    border-radius: 3px;
    -webkit-border-radius:1px;
    border: solid 0px #6a6a6b;
    min-width: 70px;
    color: #fff;
    font-weight: 600;
    font-size: 15px; 
    text-shadow: 0px 0px 0px #777;
    cursor:pointer; 
    }
.science-app-manager-portlet .button02_1 a:hover {
	cursor:pointer;
    color: #fffcf4;
    text-shadow: 1px 1px 0px #516172; }
	

.science-app-manager-portlet .button02_2 {
    padding: 2px 20px 2px 15px;
    height: 30px;
	background:url(../images/appmanager/swicon_01.png) no-repeat 12px 7px;
	background-color: #fefefe; padding-left:35px;
    border-radius: 3px;
    -webkit-border-radius:1px;
    border: solid 1px #8499b8;
    min-width: 70px;
    color: #4b5861;
    font-weight: 600;
    font-size: 15px; 
    text-shadow: 0px 0px 0px #777;
    cursor:pointer; 
    }
.science-app-manager-portlet .button02_2 a:hover {
	cursor:pointer;
    color: #fffcf4;
    text-shadow: 1px 1px 0px #516172; }



.science-app-manager-portlet .button02_3 {
    padding: 2px 20px 2px 15px;
    height: 30px;
	background:url(../images/appmanager/swicon_03.png) no-repeat 13px 7px;
	background-color: #7a92aa; padding-left:37px;
    border-radius: 3px;
    -webkit-border-radius:1px;
    border: solid 0px #6a6a6b;
    min-width: 70px;
    color: #fff;
    font-weight: 600;
    font-size: 15px; 
    text-shadow: 0px 0px 0px #777;
    cursor:pointer; 
    }
.science-app-manager-portlet .button02_3 a:hover {
	cursor:pointer;
    color: #fffcf4;
    text-shadow: 1px 1px 0px #516172; }
	
.science-app-manager-portlet .button02_3.disable{background-color:#bcc8d4;}

.science-app-manager-portlet .manager-panel{
	margin-right: 20px;
	margin-top: 5px;
}
