@charset "utf-8";

ul, ol {list-style:none;}


.edison {
	#wrap{
		width:100%;
		overflow-y:hidden;
		
		#banner{
			width:100%; 
			border-bottom:solid 1px #e6e6e6;
			position:relative;
			background-color:rgba(255, 255, 255, 0.9);
			
			.logo {
				float:left;
				padding-left:25px;
				padding-top:18px;
			}
		}
	}
	
	
	
	/*footer*/
	.footerwrap{ width:100%; height:98px; background-color:#fafafa; border-top:solid 1px #e5e5e9; border-bottom:solid 1px #e5e5e9; }
	.footer{ 
		max-width:1220px;
		margin:0 auto;
		overflow:hidden;
		position:relative;
		
		ul{
			padding-top:43px;
			margin-bottom: 0px;
			
			li{
				margin-right:12px; 
				padding-left:12px; 
				border-left:solid 1px #666; 
				font-size:12px; 
				color:#666; 
				float:left;
				
				span{
					color:#357db4;
				}
			}
			
			li:first-child{
				padding-left:0;
				margin-left:0; 
				border-left:0;
			}
		}
		
		.fbanner{
			ul{
				float:right; 
				padding-top:0;
				
				li{
					float:left;
					margin-right:30px;
					padding-left:0;
					border-left:none;
					
					img{vertical-align:middle;}
				}
				
				li:last-child{
					margin-right:0;
				}
				li:nth-child(2){
					margin-top:-5px;
				}
			}
		}
	}
}
	