.edison{
	/*edison tab CSS*/
	.contabmenu{
		background: url(@theme_image_path@/custom/portlet/tabs/subtab_bgline.gif) repeat-x;
		font-size: 16px;
		height: 52px;
		margin: 0 auto;
		width: 100%;
		
		.nav-tabs {
			border-bottom: none;
			
			li:first-child { 
				border-left: solid 1px #d2d2d2;
			}
			
			li{
				height: 51px;
				margin: 0px;
				border-right: solid 1px #d2d2d2;
				background: url(@theme_image_path@/custom/portlet/tabs/subtab_area.jpg) repeat-x;
				
				a{
					border: none;
					padding: 17px 5px 10px 0px;
					margin: 0px;
					cursor: pointer;
					text-align: center;
				}
				
				a:link{color: #000; text-decoration:none;outline:none;border:0px;}
				a:visited{color:#000; text-decoration:none;outline:none;border:0px;}
				a:over{color:#000; text-decoration:none;outline:none;border:0px;}
				a:focus{color:#000; text-decoration:none;outline:none;border:0px;}
				a:active{color:#000; text-decoration:none;outline:none;border:0px;}
				a:hover{color:#000; text-decoration:none;outline:none;border:0px;}
				
				
				.CFD{
					background: url(@theme_image_path@/custom/portlet/tabs/cfdlogooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
				
				.NANO{
					background: url(@theme_image_path@/custom/portlet/tabs/nanologooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
				
				.CHEM{
					background: url(@theme_image_path@/custom/portlet/tabs/chemlogooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
				
				.CSD{
					background: url(@theme_image_path@/custom/portlet/tabs/csdlogooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
				
				.DESIGN{
					background: url(@theme_image_path@/custom/portlet/tabs/designlogooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
				
				.CMED{
					background: url(@theme_image_path@/custom/portlet/tabs/cmedlogooff.png) no-repeat 10px 8px;
					text-align: left;
					padding: 17px 5px 10px 53px;
				}
			}
			
			li.active{
				height: 52px;
				border-left: solid 1px #000;
				border-right: solid 1px #000;
				border-top: solid 1px #000;
				border-bottom: solid 1px #fff;
				background-color: #fff;
				background: none;
				
				.CFD{
					background: url(@theme_image_path@/custom/portlet/tabs/cfdlogo.png) no-repeat 10px 8px;
				}
				
				.NANO{
					background: url(@theme_image_path@/custom/portlet/tabs/nanologo.png) no-repeat 10px 8px;
				}
				
				.CHEM{
					background: url(@theme_image_path@/custom/portlet/tabs/chemlogo.png) no-repeat 10px 8px;
				}
				
				.CSD{
					background: url(@theme_image_path@/custom/portlet/tabs/csdlogo.png) no-repeat 10px 8px;
				}
				
				.DESIGN{
					background: url(@theme_image_path@/custom/portlet/tabs/designlogo.png) no-repeat 10px 8px;
				}
				.CMED{
					background: url(@theme_image_path@/custom/portlet/tabs/cmedlogo.png) no-repeat 10px 8px;
				}
			}
			
			
		}
	}
	
	/*table List CSS*/
	@media (max-width: 979px) {
		.edison-panel .btn{
			padding: 6px 12px;
			font-size: 13.5px;
		}
	
		.edison-panel .btn .caret{
			margin-top: unset;
		}
	}
	
	.edison-panel{
		border: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		
		img.title-img{
			float: left;
			margin-right: 5px;
		}
		
		.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
		
		
		.panel-heading{
			border-bottom: 2px solid #7f8c8d;
			background-color: #ffffff;
			
			h3 {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: normal;
				width: 50%;
				padding-top: 8px;
				font-weight: 600;
			}
			
			.input-group input[type="text"]{
				height: 32px;
			}
		}
		
		.edison-table{
			border-bottom: 1px solid #dddddd !important;
			
			thdead tr{
				word-break: break-word;
			}
			
			th{
				text-align: center;
				vertical-align: middle !important;
			}
			td{
				cursor: pointer;
				vertical-align: middle;
			}
			td.center{
				text-align: center;
			}
		}
	}
	
	.filterable.edison-panel{
		.filters .filter[disabled] {
		    background-color: transparent;
		    border: none;
		    cursor: auto;
		    box-shadow: none;
		    padding: 0;
		    height: auto;
		    text-align: center;
		}
		.filters .filter[disabled]::-webkit-input-placeholder {
		    color: #333;
		}
		.filters .filter[disabled]::-moz-placeholder {
		    color: #333;
		}
		.filters .filter[disabled]:-ms-input-placeholder {
		    color: #333;
		}
	}
	
	
	
	
}