.image-viewer-portlet{width:inherit; border:none; height: 100%;}
.image-viewer-portlet .menu-section{height: 7%;}
.image-viewer-portlet .canvas{ vertical-align:middle; width:inherit; border:none; height: 92%;}
